@import url('https://fonts.google.com/share?selection.family=Roboto');
/**font-family: 'Roboto', sans-serif;*/
/**Azul oscuro: #2E355B*/
:root {
    --darkBlue: #25358D;
    --lightBlue: #CDD0FF;
    --lightYellowMain:#fbf4e3;
  }

body {
    margin: 0%;
    padding: 0%;
}
main {
    background: linear-gradient(var(--lightBlue), var(--lightYellowMain));
    color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    user-select: none;
}
.userType {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 880px;
}
.userType a{
    margin: 2%;
    border-radius: 5px;
    width: 16%;
    border: var(--darkBlue) 2px solid;
    color: var(--lightBlue);
    background-color: var(--darkBlue);
}
.userType a:hover{
    border: var(--darkBlue) 2px solid;
    color: var(--darkBlue);
    background-color: var(--lightBlue);
}
.tables {
    width: min(900px, 100% - rem);
    margin-inline: auto;
}
table {
    background-color: #fae0a4;
    border: var(--darkBlue) 2px solid;
    border-collapse: collapse;
    width: 878px;
}
table caption {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 6px 0px;
}
th {
    background-color: #d28300;
    border: var(--darkBlue) 2px solid;
    border-collapse: collapse;
    text-transform: uppercase;
    padding: 1%;
}
td {
    border: var(--darkBlue) 2px solid;
    border-collapse: collapse;
    padding: 1%;
}
tr:nth-of-type(2n) {
    background: #ffd061;
}
tr:hover {
    background-color: #ff8a46;
}
.personalTable{
    display: table;
}
.medTable {
    display: none;
}
.centSalTable {
    display: none;
}
.emergenciaTable {
    display: none;
}
.emergenciaText {
    display: none;
    font-style: bold;
    font-size: 20px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.farmaceuticaTable {
    display: none;
}
.farmText {
    display: none;
    font-style: bold;
    font-size: 20px;
}

@media only screen and (max-width: 900px)  {
    table {
        width: auto;
    }
    th {
        display: none;
    }
    td {
        display: grid;
        grid-template-columns: 15ch auto;
        padding: 0.75rem 1rem;
    }
    td:first-child {
        padding-top: 2rem;
    }
    td:last-child {
        padding-bottom: 2rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
}