@import url('https://fonts.google.com/share?selection.family=Roboto');
/**font-family: 'Roboto', sans-serif;*/
body {
    margin: 0%;
    padding: 0%;
}
main {
    background: linear-gradient(#CDD0FF, #fbf4e3);
    color: #2E355B;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    user-select: none;
}

@media only screen and (min-width: 900px)  {
    .userType {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 880px;
    }
    .userType a{
        margin: 2%;
        border-radius: 5px;
        width: 16%;
        border: #2E355B 2px solid;
        color: #CDD0FF;
        background-color: #2E355B;
    }
    .userType a:hover{
        border: #2E355B 2px solid;
        color: #2E355B;
        background-color: #CDD0FF;
    }
    table {
        background-color: #FFEFCA;
        border: #2E355B 2px solid;
        border-collapse: collapse;
        width: 890px;
    }
    table caption {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 6px 0px;
    }
    table tr th {
        background-color: #EDC33B;
        border: #2E355B 2px solid;
        border-collapse: collapse;
        text-transform: uppercase;
        padding: 1%;
    }
    table tr td {
        background-color: #FFEFCA;
        border: #2E355B 2px solid;
        border-collapse: collapse;
        padding: 1%;
    }
    table tr td:hover {
        background: #EDC33B;
    }
    .personalTable{
        display: table;
    }
    .medTable {
        display: none;
    }
    .centSalTable {
        display: none;
    }
    .emergenciaTable {
        display: none;
    }
    .emergenciaText {
        display: none;
        font-style: bold;
        font-size: 20px;
    }
    .farmaceuticaTable {
        display: none;
    }
    .farmText {
        display: none;
        font-style: bold;
        font-size: 20px;
    }
    .tables tbody tr:hover {
        background-color: #f2ca46;
    }
    .tables tbody td:hover {
        background-color: #f2ca46;
    }
}