@import url('https://fonts.google.com/share?selection.family=Roboto');
/**font-family: 'Roboto', sans-serif;*/
:root {
    --darkBlue: #25358D;
    --lightBlue: #CDD0FF;
    --lightYellowMain:#fbf4e3;
    --mediumBlue: #0099CC;
}

body {
    margin: 0%;
    padding: 0%;
}
main {
    background: linear-gradient(var(--lightBlue), var(--lightYellowMain));
    color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
@media only screen and (min-width: 360px) {
    .menu-nav {
        visibility: hidden;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2%;
        margin-bottom: 10%;
        align-items: center;
    }
    .left-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2%;
    }
    .right-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) {

    .menu-nav {
        visibility: visible;
    }
    .menu-form a {
        background-color: var(--lightBlue);
        color: var(--darkBlue);
    }
}
@media only screen and (min-width: 900px)  {

    .form {
        flex-direction: row;
    }
    .left-form > input {
        width: 240px;
    }
    .left-form > select {
        width: 250px;
    }
    .right-form > textarea {
        margin: 2%;
        border-radius: 2px;
        border: var(--darkBlue) solid 1px;
    }
    .right-form > button {
        margin: 2%;
        border-radius: 5px;
        width: 30%;
        border: var(--darkBlue) 2px solid;
        color: var(--lightBlue);
        background-color: var(--darkBlue);
    }
    .right-form > button:hover {
        margin: 2%;
        border-radius: 5px;
        width: 30%;
        background-color: #ffffff;
        color: var(--darkBlue);
    }

}