@import url('https://fonts.google.com/share?selection.family=Roboto');
/**font-family: 'Roboto', sans-serif;*/

:root {
    --darkBlue: #25358D;
    --lightBlue: #CDD0FF;
    --lightYellowMain:#fbf4e3;
    --mediumBlue: #0099CC;
}

body {
    margin: 0%;
    padding: 0%;
}
main {
    padding: 2%;
    background: linear-gradient(var(--lightBlue), var(--lightYellowMain));
    color: var(--darkBlue);
    font-family: 'Roboto', sans-serif;
    user-select: none;
}


@media only screen and (min-width: 360px) {
    .filosofia {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .info {
        width: 90%;
    }
    .info > h2 {
        text-align:center;
        font-size: 20px;
        padding-left: 2%;
    }
    .info > p {
        text-align: justify;
        font-size: 16px;
        padding: 2%;
    }
    .info-paciente{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .paciente {
        width: 80%;
    }
    .paciente > h2 {
        text-align:center;
        font-size: 20px;
    }
    .paciente > p {
        text-align: justify;
        font-size: 16px;
    }
    .img-paciente {
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: center;
    }
    .img-paciente img {
        width: 250px;
        height: 170px;
    }
    .info-medicos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .medicos {
        width: 80%;
    }
    .medicos > h2 {
        text-align:center;
        font-size: 20px;
    }
    .medicos > p {
        text-align: justify;
        font-size: 16px;
    }
    .img-medicos {
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: center;
    }
    .img-medicos img {
        width: 250px;
        height: 170px;
    }
    .info-CenSalud{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .CenSalud {
        width: 80%;
    }
    .CenSalud > h2 {
        text-align:center;
        font-size: 20px;
    }
    .CenSalud > p {
        text-align: justify;
        font-size: 16px;
    }
    .img-CenSalud {
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: center;
    }
    .img-CenSalud img {
        width: 250px;
        height: 170px;
    }
    .info-emergencia{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .emergencia {
        width: 80%;
    }
    .emergencia > h2 {
        text-align:center;
        font-size: 20px;
    }
    .emergencia > p {
        text-align: justify;
        font-size: 16px;
    }
    .img-emergencia {
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: center;
    }
    .img-emergencia img {
        width: 250px;
        height: 170px;
    }
    .info-farmaceuticas{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .farmaceuticas {
        width: 80%;
    }
    .farmaceuticas > h2 {
        text-align:center;
        font-size: 20px;
    }
    .farmaceuticas > p {
        text-align: justify;
        font-size: 16px;
    }
    .img-farmaceuticas {
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: center;
    }
    .img-farmaceuticas img {
        width: 250px;
        height: 170px;
    }
}
@media only screen and (min-width: 600px) {
    .info > h2 {
        font-size: 26px;
    }
    .info > p {
        font-size: 20px;
    }
    .paciente > h2 {
        font-size: 26px;
    }
    .paciente > p {
        font-size: 20px;
    }
    .img-paciente img {
        width: 300px;
        height: 200px;
    }
    .medicos > h2 {
        font-size: 26px;
    }
    .medicos > p {
        font-size: 20px;
    }
    .img-medicos img {
        width: 300px;
        height: 200px;
    }
    .CenSalud> h2 {
        font-size: 26px;
    }
    .CenSalud > p {
        font-size: 20px;
    }
    .img-CenSalud img {
        width: 300px;
        height: 200px;
    }
    .emergencia > h2 {
        font-size: 26px;
    }
    .emergencia > p {
        font-size: 20px;
    }
    .img-emergencia img {
        width: 300px;
        height: 200px;
    }
    .farmaceuticas > h2 {
        font-size: 26px;
    }
    .farmaceuticas > p {
        font-size: 20px;
    }
    .img-farmaceuticas img {
        width: 300px;
        height: 200px;
    }
}
@media only screen and (min-width: 900px)  {
    .filosofia {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .info {
        align-content: left;
        width: 80%;
    }
    .info > h2 {
        text-align: left;
        font-size: 30px;
    }
    .info > p {
        text-align: justify;
        font-size: 20px;
    }
    .info-paciente{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .paciente {
        width: 50%;
    }
    .paciente > h2 {
        text-align: left;
        font-size: 30px;
    }
    .paciente > p {
        text-align: justify;
        font-size: 20px;
    }
    .img-paciente {
        width: 30%;
        align-self: center;
    }
    .img-paciente img{
        width: 320px;
        height: 228px;
    }
    .info-medicos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .medicos {
        width: 50%;
    }
    .medicos > h2 {
        text-align: left;
        font-size: 30px;
    }
    .medicos > p {
        text-align: justify;
        font-size: 20px;
    }
    .img-medicos {
        width: 30%;
        align-self: center;
    }
    .img-medicos img{
        width: 320px;
        height: 228px;
    }
    .info-CenSalud {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .CenSalud {
        width: 50%;
    }
    .CenSalud > h2 {
        text-align: left;
        font-size: 30px;
    }
    .CenSalud > p {
        text-align: justify;
        font-size: 20px;
    }
    .img-CenSalud {
        width: 30%;
        align-self: center;
    }
    .img-CenSalud img{
        width: 320px;
        height: 228px;
    }
    .info-emergencia{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .emergencia {
        width: 50%;
    }
    .emergencia > h2 {
        text-align: left;
        font-size: 30px;
    }
    .emergencia > p {
        text-align: justify;
        font-size: 20px;
    }
    .img-emergencia {
        width: 30%;
        align-self: center;
    }
   .img-emergencia img{
        width: 320px;
        height: 228px;
    }
    .info-farmaceuticas{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .farmaceuticas {
        width: 50%;
    }
    .farmaceuticas > h2 {
        text-align: left;
        font-size: 30px;
    }
    .farmaceuticas > p {
        text-align: justify;
        font-size: 20px;
    }
    .img-farmaceuticas {
        width: 30%;
        align-self: center;
    }
    .img-farmaceuticas img{
        width: 320px;
        height: 228px;
    }
}