@import url('https://fonts.google.com/share?selection.family=Roboto');
/**font-family: 'Roboto', sans-serif;*/
:root {
    --darkBlue: #25358D;
    --lightBlue: #CDD0FF;
    --lightYellowMain:#fbf4e3;
    --mediumBlue: #0099CC;
}
body {
    margin: 0%;
    padding: 0%;
}
main {
    background: linear-gradient(var(--lightBlue), var(--lightYellowMain));
    color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

@media only screen and (min-width: 360px) {
    .menu-nav {
        visibility: hidden;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2%;
        margin-bottom: 5%;
        padding-top: 2%;
        align-items: center;
        background-color: #dfe1ff;
        border: var(--darkBlue) 2px solid;
        border-radius: 2%;
        width: 50%;
        height: 60%;
    }
    .form > label {
        padding: 2% 0%;
    }
    .form > input {
        margin-bottom: 2%;
        width: 80%;
    }

    .form > p {
        padding-top: 5%;
        padding-bottom: 2%;
        margin: 0%;
    }
    a {
        color: #000a9b;
        border-radius: 2%;
        margin-bottom: 5%;
        padding: 2%;
    }
    a:hover {
        background-color: var(--darkBlue);
        color: var(--lightBlue);
    }
    .buttonLog {
        margin: 2%;
        border-radius: 5px;
        width: 50%;
        border: var(--darkBlue) 2px solid;
        color: var(--lightBlue);
        background-color: var(--darkBlue);
    }
    .buttonLog:hover {
        margin: 2%;
        border-radius: 5px;
        width: 25%;
        background-color: #ffffff;
        color: var(--darkBlue);
    }

    .modal {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #25358Dbd;
        display: flex;
        opacity: 0;
        pointer-events: none;
    }
    .modalShow {
        opacity: 1;
        pointer-events: unset;
    }
    .modalContainer {
        width: 90%;
        margin: auto;
        max-width: 600px;
        max-height: 90%;
        background-color: var(--lightBlue);
        border-radius: 6px;
        padding: 3px;
        display: grid;
        gap: 1px;
        place-items: center;
        grid-auto-columns: 100%;
    }
    .modalPass {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #25358Dbd;
        display: flex;
        opacity: 0;
        pointer-events: none;
    }
    .modalPassShow {
        opacity: 1;
        pointer-events: unset;
    }
    .modalClose {
        margin: 10%;
        border-radius: 5px;
        width: 50%;
        border: var(--darkBlue) 2px solid;
        color: var(--lightBlue);
        background-color: #25358Dbd;
    }
    .modalPassCont{
        width: 90%;
        margin: auto;
        max-width: 430px;
        max-height: 90%;
        background-color: var(--lightBlue);
        border-radius: 6px;
        padding: 3px;
        display: grid;
        gap: 1px;
        place-items: center;
        grid-auto-columns: 100%;
    }
    .buttonModal {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .buttonModal a {
        margin: 10%;
        border-radius: 5px;
        width: 100%;
        border: var(--darkBlue) 2px solid;
        color: var(--lightBlue);
        background-color: var(--darkBlue);
    }
    .tittle {
        display: none;
    }
    #emailPass {
        display: none;
    }
    .check {
        display: none;
    }



}

@media only screen and (min-width: 600px) {
    .menu-nav {
        visibility: visible;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2%;
        margin-bottom: 5%;
        padding-top: 2%;
        align-items: center;
        background-color: #dfe1ff;
        border: var(--darkBlue) 2px solid;
        width: 50%;
        height: 60%;
    }
    .form > input {
        width: 50%;
    }
    a {
        color: #000a9b;
        border-radius: 2%;
        margin-bottom: 5%;
        padding: 2%;
    }
    a:hover {
        background-color:var(--darkBlue);
        color: var(--lightBlue);
    }
    .buttonLog {
        margin: 2%;
        border-radius: 5px;
        width: 20%;
        border: var(--darkBlue) 2px solid;
        color: var(--lightBlue);
        background-color: var(--darkBlue);
    }
    .buttonLog:hover {
        margin: 2%;
        border-radius: 5px;
        width: 20%;
        background-color: #ffffff;
        color: var(--darkBlue);
    }
}
@media only screen and (min-width: 900px)  {
    .form {
        width: 40%;
    }
    .form > input {
        width: 40%;
    }

    .irRegistro {
        width: 60%;
    }

}