@import url('https://fonts.google.com/share?selection.family=Roboto');
/**font-family: 'Roboto', sans-serif;*/
:root {
    --darkBlue: #25358D;
    --lightBlue: #CDD0FF;
    --lightYellowMain:#fbf4e3;
}
body {
    margin: 0%;
    padding: 0%;
}
main {
    background: linear-gradient(var(--lightBlue), var(--lightYellowMain));
    color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 2%;
    padding-bottom: 4%;
    user-select: none;
}
@media only screen and (min-width: 360px) {
    .menu-nav {
        visibility: hidden;
    }
    main > p{
        width: 70%;
    }
    iframe {
        width: 250px;
        height: 150px;
        border: var(--darkBlue) solid 2px;
        border-radius: 2%;
    }
}

@media only screen and (min-width: 600px) {
    .menu-nav {
        visibility: visible;
    }
    .menu-locacion a {
        background-color: var(--lightBlue);
        color: var(--darkBlue);
    }
    iframe {
        width: 400px;
        height: 300px;
    }
}
@media only screen and (min-width: 900px)  {
    iframe {
        width: 600px;
        height: 400px;
    }

}