@import url('https://fonts.google.com/share?selection.family=Roboto');
/**font-family: 'Roboto', sans-serif;*/
body {
    margin: 0%;
    padding: 0%;
}
main {
    background: linear-gradient(#CDD0FF, #fbf4e3);
    color: #2E355B;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
@media only screen and (min-width: 360px) {
    .menu-nav {
        visibility: hidden;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2%;
        margin-bottom: 2%;
        align-items: center;
    }
    .leftForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2%;
    }
    .leftForm > input {
        width: 250px;
    }
    .rightForm {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .rightForm > input{
        width: 250px;
    }
    .rightForm > select {
        width: 260px;
        padding: 1px 2px;
    }
    .buttonSignIn {
        margin: 2%;
        border-radius: 5px;
        width: 20%;
        border: #2E355B 2px solid;
        color: #CDD0FF;
        background-color: #2E355B;
        align-self: center;
        margin-bottom: 5%;
        padding: 2px;
    }
    .buttonSignIn:hover {
        margin: 2%;
        border-radius: 5px;
        width: 20%;
        background-color: #ffffff;
        color: #2E355B;
        align-self: center;
        margin-bottom: 5%;
        padding: 2px;
    }

    .modalSuccess {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #2E355Bbd;
        display: flex;
        opacity: 0;
        pointer-events: none;
    }
    .modalSuccessShow {
        opacity: 1;
        pointer-events: unset;
    }
    .modalCont {
        width: 90%;
        margin: auto;
        max-width: 600px;
        max-height: 90%;
        background-color: #CDD0FF;
        border-radius: 6px;
        padding: 3px;
        display: grid;
        gap: 1px;
        place-items: center;
        grid-auto-columns: 100%;
    }
    .modalSuccess a {
        margin: 10%;
        border-radius: 5px;
        width: 50%;
        border: #2E355B 2px solid;
        color: #CDD0FF;
        background-color: #2E355B;
    }

    .modalError {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #2E355Bbd;
        display: flex;
        opacity: 0;
        pointer-events: none;
    }
    .modalErrorShow {
        opacity: 1;
        pointer-events: unset;
    }
    .modalContError {
        width: 90%;
        margin: auto;
        max-width: 323px;
        max-height: 90%;
        background-color: #CDD0FF;
        border-radius: 6px;
        padding: 3px;
        display: grid;
        gap: 1px;
        place-items: center;
        grid-auto-columns: 100%;
    }
    .modalError a {
        margin: 10%;
        border-radius: 5px;
        width: 50%;
        border: #2E355B 2px solid;
        color: #CDD0FF;
        background-color: #2E355B;
    }
}

@media only screen and (min-width: 600px) {

    .menu-nav {
        visibility: visible;
    }
    .menu-form a {
        background-color: #CDD0FF;
        color: #2E355B;
    }
}
@media only screen and (min-width: 900px)  {

    .form {
        flex-direction: row;
    }
}