@import url('https://fonts.google.com/share?selection.family=Roboto');
/**font-family: 'Roboto', sans-serif;*/
body {
    margin: 0%;
    padding: 0%;
}
main {
    background-color: #CDD0FF;
    color: #2E355B;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-width: 360px) {
    .menu-nav {
        visibility: hidden;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2%;
        margin-bottom: 2%;
        align-items: center;
    }
    .leftForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2%;
    }
    .leftForm > input {
        width: 250px;
    }
    .rightForm {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .rightForm > input{
        width: 250px;
    }
    .rightForm > select {
        width: 260px;
        padding: 1px 2px;
    }
    .buttonSignIn {
        margin: 2%;
        border-radius: 5px;
        width: 20%;
        border: #2E355B 2px solid;
        color: #CDD0FF;
        background-color: #2E355B;
        align-self: center;
        margin-bottom: 5%;
        padding: 2px;
    }
    .buttonSignIn:hover {
        margin: 2%;
        border-radius: 5px;
        width: 20%;
        background-color: #ffffff;
        color: #2E355B;
        align-self: center;
        margin-bottom: 5%;
        padding: 2px;
    }
}

@media only screen and (min-width: 600px) {

    .menu-nav {
        visibility: visible;
    }
    .menu-form a {
        background-color: #CDD0FF;
        color: #2E355B;
    }
}
@media only screen and (min-width: 900px)  {

    .form {
        flex-direction: row;
    }
}