<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ros Med</title>
        <link href="../style/general/header.css" rel="stylesheet" type="text/css">
        <link href="../style/general/menu.css" rel="stylesheet" type="text/css">
        <link href="../style/general/footer.css" rel="stylesheet" type="text/css">
        <link href="../style/cuota.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1>
                Ros Med
            </h1>
            <img
            src="https://cdn.icon-icons.com/icons2/1875/PNG/512/hamburgermenu_120234.png"
            alt="icono-menu">
            <p class="registro-ingreso">
                <a href="./registro.html">Registro</a>
                /
                <a href="./ingreso.html">Ingreso</a>
            </p>
        </header>
        <nav class="menu-nav">
            <ul class="menu-ul">
                <li class="menu-list menu-inicio">
                    <a href="./index.html">Inicio</a>
                </li>
                <li class="menu-list menu-form">
                    <a href="./formulario.html">Formulario</a>
                </li>
                <li class="menu-list menu-cuota">
                    <a href="./cuotas.html">Cuotas</a>
                </li>
                <li class="menu-list menu-locacion">
                    <a href="./localizacion.html">Localización</a>
                </li>
                <li class="menu-list menu-registro">
                    <a href="./registro.html">Registro</a>
                </li>
                <li class="menu-list menu-ingreso">
                    <a href="./ingreso.html">Ingreso</a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="userType">
                <a href="#" class="personalButton">Personal</a>
                <a href="#" class="medicoButton">Médico</a>
                <a href="#" class="cenSaludButton">Centros salud</a>
                <a href="#" class="emergenciaButton">Emergencia</a>
                <a href="#" class="farmaceuticaButton">Farmaceúticas</a>
            </div>
            <div class="tables">
                <table class="personalTable">
                    <caption>Uso personal</caption>
                        <tr>
                            <th>N° de plan</th>
                            <th>Tipo de plan</th>
                            <th>Cant. Usuarios</th>
                            <th>Pagos</th>
                            <th>Precios</th>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-001</td>
                            <td data-cell="Tipo de plan">Gratis</td>
                            <td data-cell="Cant. Usuarios">1</td>
                            <td data-cell="Pago">-</td>
                            <td data-cell="Precios">-</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-002</td>
                            <td data-cell="Tipo de plan">Pago</td>
                            <td data-cell="Cant. Usuarios">1</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">1000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-003</td>
                            <td data-cell="Tipo de plan">Premium familiar 1</td>
                            <td data-cell="Cant. Usuarios">1/5</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">4000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-004</td>
                            <td data-cell="Tipo de plan">Premium familiar 2</td>
                            <td data-cell="Cant. Usuarios">1/5</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">11.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-005</td>
                            <td data-cell="Tipo de plan">Premium Gran familia 1</td>
                            <td data-cell="Cant. Usuarios">1/8</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">8000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-006</td>
                            <td data-cell="Tipo de plan">Premium Gran familia 2</td>
                            <td data-cell="Cant. Usuarios">1/8</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">22.000$</td>
                        </tr>
                </table>
                <table class="medTable">
                    <caption>Uso médico</caption>
                        <tr>
                            <th>N° de plan</th>
                            <th>Cant. Pacientes</th>
                            <th>Pagos</th>
                            <th>Precios</th>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-007</td>
                            <td data-cell="Cant. Pacientes">400</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">20.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-008</td>
                            <td data-cell="Cant. Pacientes">400</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">56.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-009</td>
                            <td data-cell="Cant. Pacientes">900</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">80.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-010</td>
                            <td data-cell="Cant. Pacientes">900</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">230.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-011</td>
                            <td data-cell="Cant. Pacientes">1400</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">140.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-012</td>
                            <td data-cell="Cant. Pacientes">1400</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">400.000$</td>
                        </tr>
                </table>
                <table class="centSalTable">
                    <caption>Uso en centros de salud</caption>
                        <tr>
                            <th>N° de plan</th>
                            <th>Tipo de centro</th>
                            <th>Areas médicas</th>
                            <th>Pacientes por area</th>
                            <th>Pagos</th>
                            <th>Precios</th>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-013</td>
                            <td data-cell="Tipo de centro">Sanatorio</td>
                            <td data-cell="Áreas médicas">10</td>
                            <td data-cell="Pacientes por área">1000</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">100.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-014</td>
                            <td data-cell="Tipo de centro">Sanatorio</td>
                            <td data-cell="Áreas médicas">30</td>
                            <td data-cell="Pacientes por área">1000</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">200.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-015</td>
                            <td data-cell="Tipo de centro">Sanatorio</td>
                            <td data-cell="Áreas médicas">xx</td>
                            <td data-cell="Pacientes por área">xxxx</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">xxxx$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-016</td>
                            <td data-cell="Tipo de centro">Sanatorio</td>
                            <td data-cell="Áreas médicas">xx</td>
                            <td data-cell="Pacientes por área">xxxx</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">xxxx$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-017</td>
                            <td data-cell="Tipo de centro">Hospital</td>
                            <td data-cell="Áreas médicas">xx</td>
                            <td data-cell="Pacientes por área">xxxx</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">xxxx$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-018</td>
                            <td data-cell="Tipo de centro">Hospital</td>
                            <td data-cell="Áreas médicas">xx</td>
                            <td data-cell="Pacientes por área">xxxx</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">xxxx$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-019</td>
                            <td data-cell="Tipo de centro">Hospital</td>
                            <td data-cell="Áreas médicas">xx</td>
                            <td data-cell="Pacientes por área">xxxx</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">xxxx$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-020</td>
                            <td data-cell="Tipo de centro">Hospital</td>
                            <td data-cell="Áreas médicas">xx</td>
                            <td data-cell="Pacientes por área">xxxx</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">xxxx$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-021</td>
                            <td data-cell="Tipo de centro">Clínica/Consultorio</td>
                            <td data-cell="Áreas médicas">xx</td>
                            <td data-cell="Pacientes por área">xxxx</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">90.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-022</td>
                            <td data-cell="Tipo de centro">Clínica/Consultorio</td>
                            <td data-cell="Áreas médicas">xx</td>
                            <td data-cell="Pacientes por área">xxxx</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">150.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-023</td>
                            <td data-cell="Tipo de centro">Clínica/Consultorio</td>
                            <td data-cell="Áreas médicas">xx</td>
                            <td data-cell="Pacientes por área">xxxx</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">xxxx$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-024</td>
                            <td data-cell="Tipo de centro">Clínica/Consultorio</td>
                            <td data-cell="Áreas médicas">xx</td>
                            <td data-cell="Pacientes por área">xxxx</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">xxxx$</td>
                        </tr>
                </table>
                <table class="emergenciaTable">
                    <caption>Uso en servicio de emergencia</caption>
                        <tr>
                            <th>N° de plan</th>
                            <th>Usos</th>
                            <th>Tipo</th>
                            <th>Pagos</th>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-025</td>
                            <td data-cell="Usos">Servicio a domicilio</td>
                            <td data-cell="Tipo">Privado</td>
                            <td data-cell="Pago">Mensual</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-026</td>
                            <td data-cell="Usos">Servicio a domicilio</td>
                            <td data-cell="Tipo">Privado</td>
                            <td data-cell="Pago">Trimestral</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-027</td>
                            <td data-cell="Usos">Servicio de emergencia</td>
                            <td data-cell="Tipo">Privado</td>
                            <td data-cell="Pago">Mensual</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-027</td>
                            <td data-cell="Usos">Servicio de emergencia</td>
                            <td data-cell="Tipo">Privado</td>
                            <td data-cell="Pago">Trimestral</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-028</td>
                            <td data-cell="Usos">Servicio de emergencia</td>
                            <td data-cell="Tipo">Público</td>
                            <td data-cell="Pago">Trimestral</td>
                        </tr>
                </table>
                <p class="emergenciaText">
                    Cualquier arreglo externo puede ser determinado en contrato, sea que el uso de la app la pague el
                    servicio de emergencia o la obra social, por tanto los precios pueden consultarse de forma independiente.
                </p>
                <table class="farmaceuticaTable">
                    <caption>Uso para Laboratorios</caption>
                        <tr>
                            <th>N° de plan</th>
                            <th>Usos</th>
                            <th>Pagos</th>
                            <th>Precios</th>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-029</td>
                            <td data-cell="Usos">Publicidad</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">30.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-030</td>
                            <td data-cell="Usos">Publicidad y beneficios</td>
                            <td data-cell="Pago">Mensual</td>
                            <td data-cell="Precios">35.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-031</td>
                            <td data-cell="Usos">Publicidad</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">90000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-032</td>
                            <td data-cell="Usos">Publicidad y beneficios</td>
                            <td data-cell="Pago">Trimestral</td>
                            <td data-cell="Precios">100.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-033</td>
                            <td data-cell="Usos">Publicidad</td>
                            <td data-cell="Pago">Anual</td>
                            <td data-cell="Precios">360.000$</td>
                        </tr>
                        <tr>
                            <td data-cell="N° de plan">P-034</td>
                            <td data-cell="Usos">Publicidad y beneficios</td>
                            <td data-cell="Pago">Anual</td>
                            <td data-cell="Precios">420.000$</td>
                        </tr>
                </table>
                <p class="farmText">
                    Cualquier arreglo externo puede ser determinado en contrato.
                </p>
            </div>
        </main>
        <footer class="footer">
            <div class="left-footer">
                <p>
                    Copyright &copy.
                </p>
                <a href="./desarrollador.html">Información del desarrollador</a>
            </div>
            <div class="right-footer">
                <img src="" alt="icono-facebook" href="">
                <img src="" alt="icono-twitter" href="">
                <img src="" alt="icono-instagram" href="">
                <img src="" alt="icono-linkedin" href="">
                <!--Boton/icono flechita para ir arriba--->
            </div>
        </footer>




        <script src="../js/cuota.js"></script>
    </body>
</html>