<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ros Med</title>
        <link href="../style/general/header.css" rel="stylesheet" type="text/css">
        <link href="../style/general/menu.css" rel="stylesheet" type="text/css">
        <link href="../style/general/footer.css" rel="stylesheet" type="text/css">
        <link href="../style/desarrollo.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1>
                Ros Med
                <img src="../style/img/logoRosMed-removebg.png" class="icono-logo" alt="Logo RosMed">
            </h1>
            <p class="fraseCabecera">Por una salud integral...</p>
        </header>
        <nav id='menu'>
            <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
            <ul>
                <li><a href="./index.html" >Inicio</a></li>
                <li><a href="./formulario.html">Formulario</a></li>
                <li><a href="./cuotas.html">Cuotas</a></li>
                <li><a href="./localizacion.html">Localización</a></li>
                <li class=".registroIngreso"><a href="./registro.html">Registro</a></li>
                <li class=".registroIngreso"><a href="./ingreso.html">Ingreso</a></li>
            </ul>
        </nav>
        <main>
            <h2>
                Sobre el desarrollo del producto:
            </h2>
            <p>
                Este producto esta siendo desarrollado por Farruggia, Florencia. Se utilizaron las herramientas de desarrollo,
                mediante el uso de un editor de código fuente desarrollado por Microsoft para Windows, Linux, macOS
                y Web, el cual se llama Visual Studio Code (VSC). En el mismo se desarrolló el código en formato HTML para
                darle estructura al documento, para dar estilo se utilizó CSS y por último para crear una mínima interacción
                se usó JavaScript.
            </p>
            <p>
                Algunas consideraciones: Actualmente esta aplicación está en plena producción, el estado de la misma es
                solo de previsualización, la página solo dispone de la opción de verla en sus diferentes tamaños al ser
                responsive, lo que implica que podremos ver como la aplicación se verá en los diferentes dispositivos. Por lo
                tanto, la página no cuenta con una Base de Datos o con herramientas de Back-end.
            </p>
        </main>
        <footer class="footer">
            <div class="left-footer">
                <p>
                    Copyright &copy.
                </p>
                <a href="./desarrollador.html">Información del desarrollador</a>
            </div>
            <div class="right-footer">
                <img src="/style/img/LogoFacebook.png" alt="icono de facebook" href="">
                <img src="/style/img/LogoTwitter.png" alt="icono de twitter" href="">
                <img src="/style/img/LogoInstagram.png" alt="icono de instagram" href="">
                <img src="/style/img/LogoLinkedin.png" alt="icono de linkedin" href="">
            </div>
        </footer>
    </body>
</html>