<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ros Med</title>
        <link href="../style/general/header.css" rel="stylesheet" type="text/css">
        <link href="../style/general/menu.css" rel="stylesheet" type="text/css">
        <link href="../style/general/footer.css" rel="stylesheet" type="text/css">
        <link href="../style/form/form.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1>
                Ros Med
            </h1>
            <img src="" alt="icono-menu">
            <p>
                Registro/ingreso
            </p>
        </header>
        <nav class="menu-nav">
            <ul class="menu-ul">
                <li class="menu-list menu-inicio">Inicio</li>
                <li class="menu-list menu-form">Formulario</li>
                <li class="menu-list menu-cuota">Cuotas</li>
                <li class="menu-list menu-locacion">Localizaciones</li>
            </ul>
        </nav>
        <main>
            <h2 class="tittle-question">Tienes preguntas?</h2>
            <p class="comment">
                Por favor, rellena el siguiente formulario con tus dudas, te contestaremos en breve, gracias por comunicarte.
            </p>
            <form class="form">
                <div class="left-form">
                    <label for="fName">Nombre:</label>
                    <input type="text" id="fName" name="fName" value="Escriba su nombre">
                    <label for="fLName">Apellido:</label>
                    <input type="text" id="fLName" name="fLName" value="Escriba su apellido">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" value="Escriba su mail">
                    <label for="motive">Seleccione su area de interes:</label>
                    <select id="motive" name="motive">
                        <option value="personal">Interes personal (paciente)</option>
                        <option value="médico">Interes personal (médico)</option>
                        <option value="privado">Interes para uso en centro privado</option>
                        <option value="público">Interes para uso en centro público</option>
                        <option value="emergencia">Interes para uso de servicio de emergencia</option>
                        <option value="farmaceútica">Interes de servicio para farmaceúticas</option>
                        <option value="farmacia">Interes de uso para farmacias</option>
                        <option value="otro">Otros motivos</option>
                    </select>                    
                </div>
                <div class="right-form">
                    <textarea id="message-area" name="message-area" rows="10" cols="40">
                        Por favor, escribe tus dudas aquí...
                    </textarea>
                    <button type="button">Enviar</button>
                </div>
            </form>
        </main>
        <footer class="footer">
            <p>
                Copyright.
            </p>
            <a href="">Información del desarrollador</a>
            <img src="" alt="icono-facebook" href="">
            <img src="" alt="icono-twitter" href="">
            <img src="" alt="icono-instagram" href="">
            <img src="" alt="icono-linkedin" href="">
            <!--Boton/icono flechita para ir arriba--->
        </footer>
    </body>
</html>