<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ros Med</title>
        <link href="../style/general/header.css" rel="stylesheet" type="text/css">
        <link href="../style/general/menu.css" rel="stylesheet" type="text/css">
        <link href="../style/general/footer.css" rel="stylesheet" type="text/css">
        <link href="../style/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1>
                Ros Med
            </h1>
            <nav class="menu-nav-min">
                <img src="https://cdn.icon-icons.com/icons2/1875/PNG/512/hamburgermenu_120234.png"
                class="icono-menu" alt="icono-menu">
                <ul class="menu-ul-min">
                    <li class="menu-list-min">
                        <a href="./index.html" >Inicio</a>
                    </li>
                    <li class="menu-list-min">
                        <a href="./formulario.html">Formulario</a>
                    </li>
                    <li class="menu-list">
                        <a href="./cuotas.html">Cuotas</a>
                    </li>
                    <li class="menu-list-min">
                        <a href="./localizacion.html">Localización</a>
                    </li>
                    <li class="menu-list-min">
                        <a href="./registro.html">Registro</a>
                    </li>
                    <li class="menu-list-min">
                        <a href="./ingreso.html">Ingreso</a>
                    </li>
                </ul>
            </nav>
            <p class="registro-ingreso">
                <a href="./registro.html">Registro</a>
                /
                <a href="./ingreso.html">Ingreso</a>
            </p>
        </header>
        <nav class="menu-nav">
            <ul class="menu-ul">
                <li class="menu-list menu-inicio">
                    <a href="./index.html" >Inicio</a>
                </li>
                <li class="menu-list menu-form">
                    <a href="./formulario.html">Formulario</a>
                </li>
                <li class="menu-list menu-cuota">
                    <a href="./cuotas.html">Cuotas</a>
                </li>
                <li class="menu-list menu-locacion">
                    <a href="./localizacion.html">Localización</a>
                </li>
                <li class="menu-list menu-registro">
                    <a href="./registro.html">Registro</a>
                </li>
                <li class="menu-list menu-ingreso">
                    <a href="./ingreso.html">Ingreso</a>
                </li>
            </ul>
        </nav>
        <main>
            <section class="filosofia">
                <div class="info">
                    <h2>
                        Nuestra filosofía
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus nam blanditiis corporis
                        minima, mollitia illum cumque sapiente harum maiores, sunt fuga, tempore necessitatibus consectetur
                        distinctio! Velit, ab! Nemo, delectus.
                    </p>
                </div>
                <div class="video-info">
                    <label for="Video-Filosofia">Video introductorio de RosMed:</label>
                    <video id="Video-Filosofia" width="350" height="250" controls autoplay muted loop>
                        <source src="" type="video/mp4">
                        Tu navegador no soporta este formato de video.
                    </video>
                </div>
            </section>
            <section class="info-paciente">
                <div class="paciente">
                    <h2>Para pacientes:</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus nam blanditiis corporis
                        minima, mollitia illum cumque sapiente harum maiores, sunt fuga, tempore necessitatibus consectetur
                        distinctio! Velit, ab! Nemo, delectus.
                    </p>
                </div>
                <div class="img-paciente">
                    <img
                    src=""
                    alt="imagen-familia">
                </div>
            </section>
            <section class="info-medicos">
                <div class="medicos">
                <h2>Para médicos:</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus nam blanditiis corporis
                        minima, mollitia illum cumque sapiente harum maiores, sunt fuga, tempore necessitatibus consectetur
                        distinctio! Velit, ab! Nemo, delectus.
                    </p>
                </div>
                <div class="img-medicos">
                    <img
                    src=""
                    alt="imagen-medicos">
                </div>
            </section>
            <section class="info-emergencia">
                <div class="emergencia">
                    <h2>Emergencia:</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus nam blanditiis corporis
                        minima, mollitia illum cumque sapiente harum maiores, sunt fuga, tempore necessitatibus consectetur
                        distinctio! Velit, ab! Nemo, delectus.
                    </p>
                </div>
                <div class="img-emergencia">
                    <img
                    src=""
                    alt="imagen-emergencia">
                </div>
            </section>
            <section class="info-farmaceuticas">
                <div class="farmaceuticas">
                    <h2>Farmaceuticas: </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus nam blanditiis corporis
                        minima, mollitia illum cumque sapiente harum maiores, sunt fuga, tempore necessitatibus consectetur
                        distinctio! Velit, ab! Nemo, delectus.
                    </p>
                </div>
                <div class="img-farmaceuticas">
                    <img
                    src=""
                    alt="imagen-farmaceuticas">
                </div>
            </section>
            <section class="info-farmacias">
                <div class="farmacias">
                    <h2>Farmacias:</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus nam blanditiis corporis
                        minima, mollitia illum cumque sapiente harum maiores, sunt fuga, tempore necessitatibus consectetur
                        distinctio! Velit, ab! Nemo, delectus.
                    </p>
                </div>
                <div class="img-farmacias">
                    <img
                    src=""
                    alt="imagen-farmacias">
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="left-footer">
                <p>
                    Copyright &copy.
                </p>
                <a href="./desarrollador.html">Información del desarrollador</a>
            </div>
            <div class="right-footer">
                <img src="" alt="icono-facebook" href="">
                <img src="" alt="icono-twitter" href="">
                <img src="" alt="icono-instagram" href="">
                <img src="" alt="icono-linkedin" href="">
                <!--Boton/icono flechita para ir arriba--->
            </div>
        </footer>




        <script src="../js/menu.js"></script>
    </body>
</html>
