<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ros Med</title>
        <link href="../style/general/header.css" rel="stylesheet" type="text/css">
        <link href="../style/general/menu.css" rel="stylesheet" type="text/css">
        <link href="../style/general/footer.css" rel="stylesheet" type="text/css">
        <link href="../style/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1>
                Ros Med
            </h1>
            <nav class="menu-nav-min">
                <img src="https://cdn.icon-icons.com/icons2/1875/PNG/512/hamburgermenu_120234.png"
                class="icono-menu" alt="icono de menu">
                <ul class="menu-ul-min">
                    <li class="menu-list-min">
                        <a href="./index.html" >Inicio</a>
                    </li>
                    <li class="menu-list-min">
                        <a href="./formulario.html">Formulario</a>
                    </li>
                    <li class="menu-list">
                        <a href="./cuotas.html">Cuotas</a>
                    </li>
                    <li class="menu-list-min">
                        <a href="./localizacion.html">Localización</a>
                    </li>
                    <li class="menu-list-min">
                        <a href="./registro.html">Registro</a>
                    </li>
                    <li class="menu-list-min">
                        <a href="./ingreso.html">Ingreso</a>
                    </li>
                </ul>
            </nav>
            <p class="registro-ingreso">
                <a href="./registro.html">Registro</a>
                /
                <a href="./ingreso.html">Ingreso</a>
            </p>
        </header>
        <nav class="menu-nav">
            <ul class="menu-ul">
                <li class="menu-list menu-inicio">
                    <a href="./index.html" >Inicio</a>
                </li>
                <li class="menu-list menu-form">
                    <a href="./formulario.html">Formulario</a>
                </li>
                <li class="menu-list menu-cuota">
                    <a href="./cuotas.html">Cuotas</a>
                </li>
                <li class="menu-list menu-locacion">
                    <a href="./localizacion.html">Localización</a>
                </li>
                <li class="menu-list menu-registro">
                    <a href="./registro.html">Registro</a>
                </li>
                <li class="menu-list menu-ingreso">
                    <a href="./ingreso.html">Ingreso</a>
                </li>
            </ul>
        </nav>
        <main>
            <section class="filosofia">
                <div class="info">
                    <h2>
                        Filosofía de la App:
                    </h2>
                    <p>
                        En el corazón de nuestra aplicación de medicina digital reside una filosofía simple pero poderosa:
                        poner el control de tu salud en tus manos. Creemos en empoderar a los pacientes y médicos a través
                        de la tecnología, eliminando las barreras que existen en el acceso a información médica crucial.
                        Nuestra plataforma está diseñada para democratizar la atención médica, ofreciendo un acceso fácil
                        y seguro a historiales clínicos, información vital y recursos farmacológicos. Creemos que la salud
                        es un derecho fundamental, y nuestra aplicación es un paso hacia un sistema de atención médica más
                        eficiente y personalizado.
                        
                    </p>
                </div>
                <div class="video-info">
                    <label for="Video-Filosofia">Video introductorio de RosMed:</label>
                    <video id="Video-Filosofia" width="350" height="250" controls autoplay muted loop>
                        <source src="" type="video/mp4">
                        Tu navegador no soporta este formato de video.
                    </video>
                </div>
            </section>
            <section class="info-paciente">
                <div class="paciente">
                    <h2>Beneficios para pacientes:</h2>
                    <p>
                        Imagina tener tu historial médico completo al alcance de tu mano, sin papeleo, sin demoras.
                        Nuestra aplicación te permite tomar el control de tu salud de manera sencilla y conveniente. 
                        Accede a tu historial médico, consulta alergias, tratamientos previos y más en segundos.
                        Olvídate de perder tiempo en trámites burocráticos y traspasos de historiales. Además,
                        disfruta de la tranquilidad de tener acceso a información vital en situaciones de emergencia.
                        Con nuestra aplicación, puedes llevar un registro de la salud de tu familia y aprovechar
                        descuentos exclusivos en productos farmacéuticos. Tu salud, tu historial, tu control.
                        Descubre la libertad de cuidar de ti y tus seres queridos de manera más inteligente y
                        eficiente con nuestra aplicación de medicina digital.
                    </p>
                </div>
                <div class="img-paciente">
                    <img
                    src=""
                    alt="imagen de familia">
                </div>
            </section>
            <section class="info-medicos">
                <div class="medicos">
                <h2>Beneficios para médicos:</h2>
                    <p>
                        Nuestra aplicación ofrece una herramienta esencial para médicos que comparten nuestra visión
                        de una atención médica más eficiente y centrada en el paciente. Simplificamos tu trabajo al
                        proporcionarte acceso instantáneo a los historiales clínicos de tus pacientes, permitiéndote
                        tomar decisiones informadas y precisas en tiempo real. No más pérdida de tiempo en la búsqueda
                        de expedientes o en la interpretación de historiales desordenados. Con nuestra plataforma, puedes
                        brindar un cuidado de calidad superior y centrado en el paciente, aprovechando la información
                        detallada que necesitas al alcance de tu mano. Además, nuestra aplicación promueve la colaboración
                        entre profesionales de la salud, lo que significa que puedes compartir de manera segura información
                        médica vital con colegas cuando sea necesario. Únete a nosotros en la revolución de la atención médica
                        y brinda a tus pacientes un servicio excepcional.
                    </p>
                </div>
                <div class="img-medicos">
                    <img
                    src=""
                    alt="imagen de medicos">
                </div>
            </section>
            <section class="info-CenSalud">
                <div class="CenSalud">
                    <h2>Beneficios para los centros de salud:</h2>
                    <p>
                        En los centros de salud, la eficiencia y la calidad de la atención son fundamentales. Nuestra
                        aplicación está diseñada para impulsar la productividad y mejorar la experiencia del paciente en tu
                        institución. Simplificamos la gestión de historiales clínicos, reduciendo el tiempo de espera para
                        acceder a información médica esencial. Nuestra plataforma se adapta a tus necesidades, permitiéndote
                        personalizar plantillas y flujos de trabajo para garantizar una atención médica de alta calidad y basada
                        en datos. Además, ofrecemos una solución integral para la gestión de pacientes, lo que facilita la
                        programación de citas, la coordinación del personal y la comunicación eficaz en tu centro de salud.
                        Únete a nosotros para mejorar la experiencia de tus pacientes y optimizar la eficiencia operativa en tu
                        institución de salud.
                    </p>
                </div>
                <div class="img-CenSalud">
                    <img
                    src=""
                    alt="imagen Centro de Salud">
                </div>
            </section>
            <section class="info-emergencia">
                <div class="emergencia">
                    <h2>Beneficios para los servicios de emergencia:</h2>
                    <p>
                        En el ámbito de los servicios de emergencia, la rapidez y la precisión son esenciales para salvar vidas.
                        Nuestra aplicación ofrece una solución que puede marcar la diferencia en situaciones críticas. Los equipos
                        de atención médica de emergencia pueden acceder instantáneamente a información vital sobre los pacientes,
                        como alergias, grupo sanguíneo y tratamientos previos, lo que agiliza el proceso de toma de decisiones en
                        momentos cruciales. Esta herramienta garantiza una comunicación más efectiva con pacientes que puedan estar
                        inconscientes o en situaciones de alta tensión. Además, nuestra plataforma proporciona la ubicación de las
                        farmacias cercanas, lo que facilita la obtención de medicamentos de manera rápida y eficiente. Únete a nosotros
                        para mejorar la capacidad de respuesta y la atención de emergencia, brindando una atención más segura y eficaz
                        a quienes más lo necesitan en situaciones críticas. Con nuestra aplicación, cada segundo cuenta y puede marcar
                        la diferencia en la vida de las personas.
                    </p>
                </div>
                <div class="img-emergencia">
                    <img
                    src=""
                    alt="imagen-emergencia">
                </div>
            </section>
            <section class="info-farmaceuticas">
                <div class="farmaceuticas">
                    <h2>Beneficios para las farmaceuticas: </h2>
                    <p>
                        Si eres parte de la industria farmacéutica o de laboratorios médicos, nuestra aplicación ofrece una
                        plataforma única para llegar a un público comprometido y diverso. Puedes promocionar tus productos y
                        servicios de manera efectiva a través de nuestra aplicación, ya sea a través de publicidad estratégica
                        o mediante la participación en programas de descuentos exclusivos. Conecta con médicos y pacientes
                        interesados en tus productos y aumenta la visibilidad de tu marca en un mercado en constante crecimiento.
                        Además, colabora con nosotros para brindar soluciones innovadoras y eficaces en el ámbito de la salud digital.
                        Juntos, podemos transformar la atención médica y mejorar la calidad de vida de las personas en todo el mundo.
                        Únete a nuestra red de socios y sé parte de esta emocionante revolución en la atención médica.
                    </p>
                </div>
                <div class="img-farmaceuticas">
                    <img
                    src=""
                    alt="imagen farmaceuticas">
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="left-footer">
                <p>
                    Copyright &copy.
                </p>
                <a href="./desarrollador.html">Información del desarrollador</a>
            </div>
            <div class="right-footer">
                <img src="" alt="icono de facebook" href="">
                <img src="" alt="icono de twitter" href="">
                <img src="" alt="icono de instagram" href="">
                <img src="" alt="icono de linkedin" href="">
                <!--Boton/icono flechita para ir arriba--->
            </div>
        </footer>




        <script src="../js/menu.js"></script>
    </body>
</html>
