<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ros Med</title>
        <link href="../style/general/header.css" rel="stylesheet" type="text/css">
        <link href="../style/general/menu.css" rel="stylesheet" type="text/css">
        <link href="../style/general/footer.css" rel="stylesheet" type="text/css">
        <link href="../style/ingreso.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1>
                Ros Med
                <img src="../style/img/logoRosMed-removebg.png" class="icono-logo" alt="Logo RosMed">
            </h1>
            <p class="fraseCabecera">Por una salud integral...</p>
        </header>
        <nav id='menu'>
            <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
            <ul>
                <li><a href="./index.html" >Inicio</a></li>
                <li><a href="./formulario.html">Formulario</a></li>
                <li><a href="./cuotas.html">Cuotas</a></li>
                <li><a href="./localizacion.html">Localización</a></li>
                <li class=".registroIngreso"><a href="./registro.html">Registro</a></li>
                <li class=".registroIngreso"><a href="./ingreso.html">Ingreso</a></li>
            </ul>
          </nav>
        <main>
            <h2 class="tittle-question">Bienvenido!</h2>
            <p class="comment">
                Por favor, rellena el siguiente formulario con tus datos para ingresar como usuario.
            </p>
            <form class="form">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required minlength="3" placeholder="Escriba su mail">
                <label for="pswd">Contraseña:</label>
                <input type="password" id="pswd" name="pswd" required minlength="8"maxlength="20" placeholder="Escriba su contraseña">
                <p>Se ha olvidado su contraseña?</p>
                <a href="" class="forgotPswd">Presione aquí y recuperémosla</a>
                <a href="registro.html" class="irRegistro">No tienes un usuario todavía? Presione aquí y creemos tu cuenta!</a>
                <a href="#" class="buttonLog">ingresar</a>
            </form>
            <section class="modal ">
                <div class="modalContainer">
                    <h2>Éxito!</h2>
                    <p>Bienvenido, su ingreso fue exitoso.</p>
                    <a href="#" class="modalClose">Cerrar</a>
                </div>
            </section>
            <section class="modalPass">
                <div class="modalPassCont">
                    <h2 class="tittle">Recuperemos esa contraseña! Ingresa tu email!</h2>
                    <input type="email" id="emailPass" name="email" required minlength="3" placeholder="Escriba su mail">
                    <p class="check">Revisa tu mail para recuperar tu contraseña</p>
                    <div class="buttonModal">
                        <a href="#" class="enviar">Enviar</a>
                        <a href="#" class="modalPassClose">Cerrar</a>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="left-footer">
                <p>
                    Copyright &copy.
                </p>
                <a href="./desarrollador.html">Información del desarrollador</a>
            </div>
            <div class="right-footer">
                <img src="/style/img/LogoFacebook.png" alt="icono de facebook" href="">
                <img src="/style/img/LogoTwitter.png" alt="icono de twitter" href="">
                <img src="/style/img/LogoInstagram.png" alt="icono de instagram" href="">
                <img src="/style/img/LogoLinkedin.png" alt="icono de linkedin" href="">
            </div>
        </footer>
        <script src="../js/ingreso.js"></script>
    </body>
</html>