<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ros Med</title>
        <link href="../style/general/header.css" rel="stylesheet" type="text/css">
        <link href="../style/general/menu.css" rel="stylesheet" type="text/css">
        <link href="../style/general/footer.css" rel="stylesheet" type="text/css">
        <link href="../style/localizacion.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1>
                Ros Med
                <img src="../style/img/logoRosMed-removebg.png" class="icono-logo" alt="Logo RosMed">
            </h1>
            <p class="fraseCabecera">Por una salud integral...</p>
        </header>
        <nav id='menu'>
            <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
            <ul>
                <li><a href="./index.html" >Inicio</a></li>
                <li><a href="./formulario.html">Formulario</a></li>
                <li><a href="./cuotas.html">Cuotas</a></li>
                <li><a href="./localizacion.html">Localización</a></li>
                <li class=".registroIngreso"><a href="./registro.html">Registro</a></li>
                <li class=".registroIngreso"><a href="./ingreso.html">Ingreso</a></li>
            </ul>
          </nav>
        <main>
            <h2>Vamos a buscar:</h2>
            <p>
                Aquí puedes localizar cualquier tipo de dependecia que necesites, sea un hospital, un consultorio o alguna farmacia, ya sea que
                intentes buscar un lugar específico o hacer una búsqueda en general para ver qué espacio te queda más cerca.
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107134.57843954179!2d-60.7790410298944!3d-32.9521822545
            0984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b6539335d7d75b%3A0xec4086e90258a557!2sRosario%2C%20Santa%20Fe!5
            e0!3m2!1ses-419!2sar!4v1690913886194!5m2!1ses-419!2sar" width="600" height="400" allowfullscreen=""
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </main>
        <footer class="footer">
            <div class="left-footer">
                <p>
                    Copyright &copy.
                </p>
                <a href="./desarrollador.html">Información del desarrollador</a>
            </div>
            <div class="right-footer">
                <img src="/style/img/LogoFacebook.png" alt="icono de facebook" href="">
                <img src="/style/img/LogoTwitter.png" alt="icono de twitter" href="">
                <img src="/style/img/LogoInstagram.png" alt="icono de instagram" href="">
                <img src="/style/img/LogoLinkedin.png" alt="icono de linkedin" href="">
            </div>
        </footer>
    </body>
</html>