@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
:root {
    --darkBlue: #25358D;
    --lightBlue: #CDD0FF;
  }
body {
    margin: 0%;
    padding: 0%;
}
.header {
    background-color: var(--darkBlue);
    color: var(--lightBlue);
    border-bottom: #FFFFFF 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


@media only screen and (min-width: 360px) {
    .header {
        flex-direction: column;
    }
    .header h1 {
        text-align: start;
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-size: 40px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .icono-logo {
        height: 60%;
        width: 40%;
    }
    .fraseCabecera {
        display:flex;
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-size: 22px;
        padding-right: 10%;
        padding-left: 10%;

}
}
@media only screen and (min-width: 600px) {
    .fraseCabecera {
        font-size: 26px;
        padding-right: 20%;
        padding-left: 20%;
    }
 }
@media only screen and (min-width: 900px) {
    .fraseCabecera {
        font-size: 30px;
    }
}