@import url('https://fonts.google.com/share?selection.family=Roboto');
/**font-family: 'Roboto', sans-serif;*/

body {
    margin: 0%;
    padding: 0%;
}

@media only screen and (min-width: 360px) {
    .menu-nav-min-show {
        background-color: aliceblue;
        color: #2E355B;
        border: #2E355B 3px solid;
        margin: 10px;
    }
    .menu-ul-min {
        list-style: none;
        display: none;
    }
    .menu-nav-min-show .menu-ul-min-show {
        display:unset;
    }


    .menu-nav {
        display: none;
        border-bottom: #2E355B 1px solid;
        font-family: 'Roboto', sans-serif;
    }
    ul {
        list-style: circle;
        align-content: space-between;
    }
}

@media only screen and (min-width: 600px) {
    .menu-nav a {
        text-decoration: none;
        color: #CDD0FF;
        border-radius: 4px;
        padding: 16px;
    }
    .menu-nav a:hover {
        background-color: #CDD0FF;
        color: #2E355B;
    }
    .menu-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #2E355B;
    }
    .menu-nav > ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .menu-list {
        padding-right: 20%;
    }
    .menu-ingreso {
        display:none;
    }
    .menu-registro {
        display: none;
    }
}
@media only screen and (min-width: 900px)  {
    .menu-nav {
        display: flex;
    }
    .menu-nav > ul {
        list-style: none;
        display: flex;
    }
    .menu-list {
        padding-right: 30%;
    }
}